{% extends 'base.html.twig' %}
{% block title "Accueil" %}
{% block body %}
    <div class="album py-5 bg-light">
        nfudisohgiufdshgo
        <br>
        <br>
        <br>
        <br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>esfihzzzzzzjbk<br>

    </div>
{% endblock %}