<div class="card bg-light mb-3">
    <div class="card-header">Page {{ numero }}</div>
    <div class="card-body">
        <iframe src="/ti.html" id="page{{ numero }}" name="page{{ numero }}" width="100%"></iframe>
    </div>
</div>