{% extends 'base.html.twig' %}
{% block title 'Créer un diapo' %}
{% block body %}
    <div class="container mt-4">
        <h1>Créer un diapo</h1>
        {{ include('identity/_form.html.twig', {form: form, button_label: 'Créer'}) }}
    </div>
{% endblock %}